html,
button,
input,
select,
textarea {
    color: #222;
}


/* to keep footer down -- from http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */
html, body {
   margin:0;
   padding:0;
   height:100%;	
}
#container {
   min-height:100%;
   position:relative;
}
#main {
   padding:10px;
   padding-bottom:70px;   /* height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* height of the footer */
}
/* end of stuff to keep the footer down */


html, body, button, input, select, textarea {
    font-size: 1em;
    line-height: 1.4;
	font-family: Arial, Verdana, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header header {
	background:#e17000;
	margin-top:80px;
	width:100%;
}   
   
#header {
    border-bottom: 10px solid #f6d4b2;
	
	padding:10px 0px 0px;	
	background-image:url('../img/banner_left.jpg');
	background-repeat:no-repeat;
	background-position:left top;
	background-color:#fff;
}

#footer,
.main aside {
    border-top: 10px solid #f6d4b2;
}


#footer,
.main aside {
    background: #e17000;
}

/* please use this for headers of facet filters to the left; cf. http://pdok.cdxi.nl/nl/pdok-producten */
.left-column-header {
	background: #fbead9;
}

.title {
    color: #fff;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #f6d4b2;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

#footer footer {
    color: white;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 18%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
	
	#footer {
		text-align:right;
	}
	#footer ul li {
		padding:0px 20px;
	}
	
	#search-form {
		xclear:both;
		float:right;
		padding:20px 0px 0px;
		margin:75px 20px 0px;
	}
	#legend-search {
		color:#fff;
		display:none;
		padding:0px 20px;
	}
	#search-form input {
		float:left;
		margin:0;
		border:solid 1px #000;
		max-height:28px;
	}
	#freetext-input {
	}
	
	#search-submit {
		left:0;
		width:72px;
		margin: 0 0 0 -1px;
		font-size:1em;
		padding:1px;
		background-color:#fff;
	}
	.form-submit {
		position:relative;
		border:1px solid #000;
		xfont-weight:bold;
		color:#000;
		background-color:#deebe3;
		cursor:pointer;
	}
	#show-advanced, #hide-advanced {
		color:#fff;
		cursor:pointer;
		font-style:italic;
		clear:both;
	}
	#advanced-search-options{
		display:none;
		min-height:200px;
		width:100%;
		float:none;
		clear:both;
	}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li, #footer ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    #header,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
		margin:100px 0px 0px;
		xclear:both;
        float: left;
        width: 65%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}